<?xml version="1.0"?>
<connectionStrings>
	<add name="cnCommon" providerName="System.Data.SqlClient" connectionString="Data Source=MSB-DB-PRD;Initial Catalog=Common;Integrated Security=True"/>
 <add name="cnFeeEstimator" connectionString="Data Source=MSB-DB-PRD;Initial Catalog=FeeEstimator;Integrated Security=True" providerName="System.Data.SqlClient" />
</connectionStrings>